<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :photo, as: :file %>
    <%= f.input :first_name,
                required: true,
                input_html: { autocomplete: "first-name" } %>
    <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last-name" } %>
    <%= f.input :birthdate,
                required: false,
                input_html: { autocomplete: "birth-date" } %>
    <%= f.input :country,
                required: false,
                input_html: { autocomplete: "country" } %>
    <div data-controller="sign-up">
      <%= f.input :certified,
                  required: false,
                  as: :boolean, checked_value: 1, unchecked_value: 0,
                  input_html: {
                    autocomplete: "Are you a certified diver?",
                    data: { action: "click->sign-up#toggleInputs" }
                    } %>
        <div data-sign-up-target="inputs" class="d-none">
          <%= f.input :certification_date,
                      required: false,
                      input_html: { autocomplete: "When did you get certified" } %>
          <%= f.input :certification_body,
                      required: false,
                      collection: ["PADI", "SSI", "NAUI Worldwide", "Global Underwater Explorers"],
                      input_html: { autocomplete: "With which organization did you get certified" } %>
          <%= f.input :certification_level,
                      required: false,
                      collection: ["Beginner", "Intermediate", "Advanced", "Professional"],
                      input_html: { autocomplete: "What level are you?" } %>
          <%= f.input :student_number,
                      required: false,
                      input_html: { autocomplete: "The student number on your certification card" } %>
        </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
