<% dive_sites.each do |dive_site| %>
  <div class="col-3 card-index mb-3">
    <% if dive_site.photo.present? %>
      <%= cl_image_tag dive_site.photo.key, :height=>400, :width=>600, :crop=>"fill", :quality=>100 %>
    <% else %>
      <% if dive_site.image.present? %>
        <img src="<%= dive_site.image %>" height="400" width="100%">
      <% else %>
        <img src="https://res.cloudinary.com/dg7mx0hnl/image/upload/v1661440322/sebastian-pena-lambarri-7i5HMCGupVw-unsplash_a5d3st.jpg" height="400" width="100%">
      <% end %>
    <% end %>
      <%# heart %>
      <button class="heart-icon">
        <i class="fa-regular fa-heart"></i>
      </button>
      <div class="card-index-infos p-3">
        <div class="card-index-alignment">
          <div>
            <p><%= dive_site.city %>, <%= dive_site.country %></p>
            <h2><%= dive_site.name %></h2>
            <div>
              <%# Stars %>
              <p><%= dive_site.reviews.count %> reviews</p>
            </div>
          </div>
          <div>
            <%= link_to "Learn More", dive_site_path(dive_site), class: "explore-button" %>
          </div>
        </div>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
        <ul class="card-index-tags mb-3">
          <li class="tag">Ship's Wreck</li>
          <li class="tag">Ship's Wreck</li>
          <li class="tag">Ship's Wreck</li>
        </ul>
      </div>
  </div>
<% end %>
