<% if dive_site.country.length == 2 %>
  <% dive_site_country = ISO3166::Country.new(dive_site.country) %>
<% else %>
  <% dive_site_country = ISO3166::Country.new(dive_site.country_iso) %>
<% end %>

<div style="width=300px;">
  <% if dive_site.photos.attached? %>
  <%= cl_image_tag dive_site.photos.first.key, :height=>150, :width=>200, :crop=>"fill" %>
  <% else %>
  <img src="https://res.cloudinary.com/dg7mx0hnl/image/upload/v1661440322/sebastian-pena-lambarri-7i5HMCGupVw-unsplash_a5d3st.jpg" style="height: 150px; width: 200px;">
  <% end %>
  <div>
    <h5 class="card-title pt-3"><%= dive_site.name %></h5>
      <div class="">
        <% dive_site.average_rating.times do %>
          <i class="star-icon fa-solid fa-star fa-sm"></i>
        <% end %>
          <% (5 - dive_site.average_rating).times do %>
            <i class="star-icon fa-regular fa-star fa-sm"></i>
          <% end %>
      </div>
    <p><%=dive_site.reviews.count %> reviews</p>
    <p class="card-text"><%= dive_site_country %> // <%= dive_site.level %></p>
    <%= link_to "Details", dive_site_path(dive_site), class: "btn btn-primary" %>
  </div>
</div>
