<%= form_with url: dive_sites_path, method: :get, class: "d-flex" do |form| %>

<%= text_field_tag :country,
    params[:query],
    class: "form-control",
    placeholder: "Country"
%>
<%= text_field_tag :city,
    params[:query],
    class: "form-control",
    placeholder: "City"
%>

<%= select_tag :dive_type, options_for_select(DiveSite::TYPE),
class: "form-control",
prompt: 'Dive Type'%>

<%= select_tag :level, options_for_select(DiveSite::PROFICIENCY),
class: "form-control",
prompt: 'Difficulty'%>

<%# TAGS MULTIPLE ON HOLD %>
<%= select_tag :tags, options_from_collection_for_select(Tag.all, 'id', 'name'), include_blank: false, multiple: true,
class: "form-control",
prompt: 'Specialties'%>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%# envoyer multiples values, query devient un objet %>

<% @dive_sites.each do |dive_site| %>
  <div>
  <% if dive_site.photo.attached? %>
    <%= cl_image_tag dive_site.photo.key, height: 300, width: 400, crop: :fill  %><br>
  <% else %>
    <img src="<%= dive_site.image %>" width="300">
  <% end %>
    <%= dive_site.name %><br>
    <%= dive_site.country %><br>
    <%= dive_site.description %><br>
    <%= dive_site.dive_type %><br>
    <%= link_to "Learn More", dive_site_path(dive_site) %>

    <%# Favoriting %>
    <%= link_to "like", toggle_favorite_dive_site_path(dive_site), data: {turbo_method: :post}, class:'btn-flat' %>
  </div>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
