<div data-controller="dive-sites-filters">

  <%= form_with url: dive_sites_path, method: :get, html: {class: "d-flex", data: {dive_sites_filters_target: "form"}}  do |form| %>

  <%= text_field_tag :country,
      params[:query],
      class: "form-control",
      placeholder: "Country",
      data: {
                dive_sites_filters_target: "country",
                action: "keyup->dive-sites-filters#update"
              }
  %>
  <%= text_field_tag :city,
      params[:query],
      class: "form-control",
      placeholder: "City",
      data: {
                dive_sites_filters_target: "city",
                action: "keyup->dive-sites-filters#update"
              }
  %>

  <%= select_tag :dive_type, options_for_select(DiveSite::TYPE),
  class: "form-control",
  prompt: 'Dive Type',
  data: {
                dive_sites_filters_target: "diveType",
                action: "change->dive-sites-filters#update"
              }%>

  <%= select_tag :level, options_for_select(DiveSite::PROFICIENCY),
  class: "form-control",
  prompt: 'Difficulty',
  data: {
                dive_sites_filters_target: "level",
                action: "change->dive-sites-filters#update"
              }
              %>

  <%# TAGS MULTIPLE ON HOLD %>
  <%= select_tag :tags, options_from_collection_for_select(Tag.all, 'id', 'name'), include_blank: false, multiple: true,
  class: "form-control",
  prompt: 'Specialties'%>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <%#  Partial dive-sites %>
  <div data-dive-sites-filters-target="diveSites">
    <%= render 'dive_sites_list', dive_sites: @dive_sites %>
  </div>
</div>


<%# Partial of maps (upcoming) %>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
