<% dive_site_country = ISO3166::Country.new(@dive_site.country) %>

<div class="top-bar">
<h1><%= @dive_site.name %></h1>
</div>

<div class="show-card-section" data-controller="toggle-favorite">
  <div class="container py-5">
    <div class="row justify-content-between pb-3">
      <div class="col">
        <p><i class="fa-solid fa-star star-color"></i> 5.0 ・ <%= pluralize @dive_site.reviews.count, "review" %> ・ <%= @dive_site.city %>, <%= dive_site_country %>
      </div>
      <div class="col text-end">
        <i class="fa-solid fa-arrow-up-from-bracket"></i> Share ・ <i class="fa-solid fa-anchor"></i> Log ・
        <% if user_signed_in? %>
          <i data-dive-site-id="<%=@dive_site.id%>" data-toggle-favorite-target="item" data-action="click->toggle-favorite#update" class="<%= current_user.favorited?(@dive_site) ? 'fa-solid ' : 'fa-regular' %> fa-heart"></i> Save
        <% else %>
          <i class="fa-solid fa-heart"></i> Save
        <% end %>
      </div>
    </div>

    <%# ***Faire la logique couleur des coeurs avec un IF %>


    <div class="row justify-content-between g-5">
      <div class="col-6">
        <% if @dive_site.photo.attached? %>
          <%= cl_image_tag @dive_site.photo.key, height: 400, width: 600 %>
        <% else %>
          <% if @dive_site.image.present? %>
            <img src="<%= @dive_site.image %>" height="400" width="100%">
          <% else %>
            <img src="https://res.cloudinary.com/dg7mx0hnl/image/upload/v1661440322/sebastian-pena-lambarri-7i5HMCGupVw-unsplash_a5d3st.jpg" height="400" width="100%">
          <% end %>
        <% end %>
      </div>

      <div class="col-6">
        <div style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>





  </div>
</div>

<div class="container py-5 my-5">
  <div class="row">
    <div class="col-6">
      <h2 class="fw-bold pb-5">Description of the site</h2>
      <p class="pb-5"><%= @dive_site.description %>
      <div class="row">
        <div class="col">
          <h5 class="fw-bold"><i class="fa-solid fa-water larger-icon pe-2"></i> <span class="navy-text"><%= @dive_site.dive_type %></span></h5>
        </div>
        <div class="col">
          <h5 class="fw-bold"><i class="fa-solid fa-water-ladder larger-icon pe-2"></i> <span class="navy-text"><%= @dive_site.level %></span></h5>
        </div>
        <div class="col">
          <h5 class="fw-bold"><i class="fa-solid fa-arrow-down-long larger-icon pe-2"></i><span class="navy-text">30 metres</h5>
        </div>
      </div>

    </div>
    <div class="col-6">
      <h4 class="fw-bold pb-5">Features other divers have seen at this site:</h4>
    </div>




  </div>
</div>

<div class="container">
      <h2 class="fw-bold">Feedback of the site (<%= pluralize @dive_site.reviews.count, "review" %>)</h2>
      <p class="pb-3">Don't take our word for it. Trust the diver community.</p>
  <div class="row">
    <% @dive_site.reviews.each do |review|  %>
      <div class="col-4">
        <div class="review-card">
          <div class="row">
            <div class="col">
              <%= link_to profile_path(review.user.id) do %>
                <% if review.user.photo.present? %>
                  <%= cl_image_tag review.user.photo.key, class: "review-avatar" %><br>
                <% else %>
                  <%= image_tag "diver.png", class: "review-avatar"%><br>
                <% end %>
              <% end %>
            </div>
            <div class="col">
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fa-solid fa-star star-color"></i>
                <% else %>
                  <i class="fa-regular fa-star star-color"></i>
                <% end %>
                  <% count += 1 %>
              <% end %>
            </div>
          </div>
        <h4 class="pt-4 pb-2 text-dark"><%= link_to "#{review.user.first_name} #{review.user.last_name}", profile_path(review.user.id) %></h4>
        <h6 class="fw-bold">Highlights:</h6> <p><%= review.highlight %></p>
        <h6  class="fw-bold">Tips:</h6> <p><%= review.tips %></p>
        <p class="pb-3">Reviewed on <%= review.created_at.strftime('%b %d %Y') %></p>
          <% if review.user.id == current_user.id %>
            <%= link_to "Edit", edit_review_path(review) %> ・ <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


</div>
