
<div class="top-bar">
<h1>My Wishlist</h1>
</div>

 <% @favorite_dive_sites.each do |dive_site| %>
    <div>
    <% if dive_site.photo.attached? %>
      <%= cl_image_tag dive_site.photo.key, height: 300, width: 400, crop: :fill  %><br>
    <% else %>
      <img src="<%= dive_site.image %>" width="300">
    <% end %>
      <%= dive_site.name %><br>
      <%= dive_site.country %><br>
      <%= dive_site.description %><br>
      <%= dive_site.dive_type %><br>
      <%= link_to "Learn More", dive_site_path(dive_site) %>
      <%= link_to "Remove", toggle_favorite_dive_site_path(dive_site), class: "d-block", data: {turbo_method: :post, turbo_confirm: "Are you sure?"} %>

    </div>
  <% end %>
