<div class="top-bar">
  <h1>My Wishlist</h1>
</div>

<div class="container">
  <% if !@favorite_dive_sites.nil? %>
    <br>
    <% @favorite_dive_sites.each do |dive_site| %>
      <%= link_to dive_site_path(dive_site), class: "wishlist-link" do %>
      <div class="card-box flex-d" data-controller="toggle-favorite">
        <div class="card-content--box flex-grow-1">
          <div class="flex-d card-content--location">
            <p><%= dive_site.country %>, <%= dive_site.city %></p>
          </div>
          <H2><%= dive_site.name %></H2>
          <div class="reviews-box">
            <div class="stars-wishlist d-flex gap-2">
              <% dive_site.average_rating.times do %>
                <i class="star-icon fa-solid fa-star"></i>
              <% end %>
              <% (5 - dive_site.average_rating).times do %>
                <i class="star-icon fa-regular fa-star"></i>
              <% end %>
              <p class="review-numbers"> <%= dive_site.average_rating %>  | <%=dive_site.reviews.count %> reviews</p>
            </div>
          </div>
          <%# Average_rating * full stars + (5 - Average_rating) * Empty stars %>
          <div class="main-content">
            <p><%= dive_site.description %></p>
            <div class="tags-box">
              <ul class="d-flex gap-3 flex-wrap">
                <% if dive_site.tags.each do |tag| %>
                    <li class="show-tag"><%= tag.name%></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

        </div>
            <%# SLIDER ONGOING %>
        <div class="img-box overflow-hidden">
          <div class="icon-wishlist">
            <i data-dive-site-id="<%=dive_site.id%>" data-toggle-favorite-target="item" data-action="click->toggle-favorite#update" class= "fa-2x <%= current_user.favorited?(dive_site) ? 'fa-solid' : 'fa-regular' %> fa-heart"></i>
          </div>
          <img src="<%=dive_site.image%>" alt="" class="d-block overflow-hidden rounded img-wishlist-card">
        </div>
      </div>
    <% end %>
    <% end %>
  <% else %>
    <p>You have not saved any Dive Site yet! Hurry up and <a href="https://www.okdiver.com/dive-sites">explore</a>  them all! 🎣 </p>
  <% end %>
</div>
