<div class="top-bar">
  <h1>My Wishlist</h1>
</div>

<div class="container py-5">
  <% if !@favorite_dive_sites.nil? %>
  <br>
  <% @favorite_dive_sites.each do |dive_site| %>
  <div class="card-box flex-d " data-controller="toggle-favorite">
    <div class="card-content--box flex-grow-1">
    <%# flex-d bootstrap not working here (?) %>
      <div class="flex-d card-content--location">
        <p><%= dive_site.country %>, <%= dive_site.city %></p>
      </div>
        <H2><%= dive_site.name %></H2>


        <div class=" reviews-box">
          <div class="stars-wishlist d-flex gap-2">
          <% dive_site.average_rating.times do %>
            <i class="star-icon fa-solid fa-star"></i>
          <% end %>
          <% (5 - dive_site.average_rating).times do %>
            <i class="star-icon fa-regular fa-star"></i>
          <% end %>

          <p class="review-numbers"> <%= dive_site.average_rating %>  | <%=dive_site.reviews.count %> reviews</p>

          </div>
        </div>

        <%# Average_rating * full stars + (5 - Average_rating) * Empty stars %>

        <div class="main-content">
          <p><%= dive_site.description %></p>
          <div class="tags-box">
            <ul class="d-flex gap-2">
        <%# Faire une loop à la place %>
        <% @favorite_dive_sites.each do |dive_site| %>
                <% if dive_site.tags.each do |tag| %>
                  <li class="tag"><%= tag.name%></li>
                <% end %>
              <% end %>
            <% end %>

            </ul>
          </div>
        </div>
    </div>


    <%# SLIDER ONGOING %>
    <div class="img-box overflow-hidden">
      <div class="icon-wishlist"><i data-dive-site-id="<%=dive_site.id%>" data-toggle-favorite-target="item" data-action="click->toggle-favorite#update" class= "fa-xl <%= current_user.favorited?(dive_site) ? 'fa-solid' : 'fa-regular' %> fa-heart"></i></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://res.cloudinary.com/cloudinary972/image/upload/v1661459991/7_bvxtqs.jpg" class="d-block overflow-hidden rounded" style="width: 500px" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/cloudinary972/image/upload/v1661459991/7_bvxtqs.jpg" class="d-block overflow-hidden rounded"  style="width: 500px"alt="...">
            </div>
            <div class="carousel-item">
            <img src="<%=dive_site.image%>" alt="" class="d-block overflow-hidden rounded" style="width: 500px">
            <%# <%=dive_site.image, class: "d-block w-100", style:"width: 500px" %>
              <%# <img src="" class="d-block w-100" style="width: 500px" alt="..."> %>

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
  </div>
  <% end %>

  </div>
  <% else %>
  <p>You have not saved any Dive Site yet! Hurry up and <a href="https://www.okdiver.com/dive-sites">explore</a>  them all! 🎣 </p>

  <% end %>
</div>



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/cloudinary972/image/upload/v1660320604/awnha4hz6bkazusyajxw.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudinary972/image/upload/v1660320604/awnha4hz6bkazusyajxw.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudinary972/image/upload/v1660320604/awnha4hz6bkazusyajxw.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%#  %>
