<div class="top-bar mb-logs">
  <h1>New conversation</h1>
</div>

<div class="container py-5 w-50">
  <%# <h2 class="text-center fw-bold pb-5">New conversation</h2> %>
  <%= form_tag conversations_path, method: :post do %>
    <div>
      <%= hidden_field_tag :user_id, params[:user_id] %>
    </div>
    <div class="mb-3">
      <%= text_field_tag :subject, nil, class: 'form-control', placeholder: "Subject" %>
    </div>
    <div class="mb-3">
      <%= text_area_tag :body, nil, class: 'form-control', placeholder: "Message" %>
    </div>
    <div class="row text-end py-5">
      <div>
        <%= submit_tag "Send", class: "register-button"%>
      </div>
    </div>
  <% end %>
</div>
