<%= link_to "Back to all conversations", conversations_path, class:"d-flex px-5 py-5" %>
<div class="container w-75 py-5">
  <h2 class="text-center fw-bold pb-5"><%= @conversation.subject %></h2>
  <div class="list-group mb-5">
    <% @conversation.receipts_for(current_user).order(created_at: :asc).each do |receipt| %>
      <a class="message list-group-item list-group-item-action py-3 mb-3 rounded <%= 'current_user_message' if current_user.id == receipt.message.sender.id %>" aria-current="true">
          <h5 class="mb-3 message-highlight fw-lighter"><%= receipt.message.sender.first_name %> <%= receipt.message.sender.last_name %></h5>
        <p class="mb-3"><%= receipt.message.body %></p>
        <small><%= receipt.message.created_at.strftime("%d %b %Y %l:%M %p") %></small>
      </a>
    <% end %>
  </div>

  <%= form_tag conversation_messages_path(@conversation), method: :post do %>
    <div>
      <%= text_area_tag :body, nil, placeholder: "Reply...", class: 'form-control' %>
    </div>
    <div class="row pt-3 text-end">
      <div>
        <%= submit_tag "Send", class: "register-button"%>
      </div>
    </div>

  <% end %>
</div>
