<div class="section">
  <div class="hero-box">
    <h1>Not sure where to dive next? Perfect.</h1>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group w-75 mt-5" style="margin:0 auto">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="I'm looking for...">
    <button name="button" type="submit" class="explore-button-hero">
     <%= link_to "EXPLORE NOW", dive_sites_path%>
    </button>
  </div>
<% end %>
  </div>
  <div class="video-container">
    <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "video-banner" %>
  </div>
</div>
<div class="bottom-container-homepage">
  <div class="">
    <h4 class="subheading my-5">Inspiration for your next dive</h4>
      <div class="row d-flex justify-content-around">
        <div class="col-3">
          <div class="card border-light">
            <img class="card-img-top" src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1661727336/nazarizal-mohammad-k5Z2AhnRwT8-unsplash_tcjffq.jpg" alt="Card image cap">
            <div class="card-body" id="card-1">
              <h5 class="card-title">Hawaii</h5>
              <p class="card-text">7800 km away</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-light" >
            <img class="card-img-top" src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1661790580/francesco-ungaro-lkFDqeMPlmI-unsplash_odxaju.jpg" alt="Card image cap">
            <div class="card-body" id="card-2">
              <h5 class="card-title">Martinique</h5>
              <p class="card-text">3625 km away</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-light">
            <img class="card-img-top" src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1661790390/federico-burgalassi-fqp8XPjIDeM-unsplash_udpeye.jpg" alt="Card image cap">
            <div class="card-body" id="card-3">
              <h5 class="card-title">Colombia</h5>
              <p class="card-text">4549 km away</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-light" >
            <img class="card-img-top" src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1661790193/chase-baker-yvb8NrIhIFI-unsplash_ypoopi.jpg" alt="Card image cap">
            <div class="card-body" id="card-4">
              <h5 class="card-title">Saguenay</h5>
              <p class="card-text">450 km away</p>
            </div>
          </div>
        </div>
      </div>
  </div>
<hr class="border-bottom mt-5"/>
<h4 class="subheading mb-1">Discover the world through scuba diving</h4>
  <div class="d-flex justify-content-around mb-5">
    <div class="col-6 picture-box">
      <div class="bottom-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dbb3sntqk/image/upload/v1661537450/mael-balland-s2_f4ijsGHs-unsplash_p3xt9h.jpg)">
        <div class="call-to-action-link">
          <%= link_to "Explore", dive_sites_path, class: "tag-white"%>
        </div>
      </div>
    </div>
    <div class="col-6 picture-box">
      <div class="bottom-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dbb3sntqk/image/upload/v1661537444/frans-daniels-AY1UVjZCI4Q-unsplash_rcnchi.jpg)">
        <div class="call-to-action-link">
          <%= link_to "Log a dive", create_log_path, class: "tag-white"%>
        </div>
      </div>
    </div>
  </div>
</div>
