<div style="width:800px">
  <%= simple_form_for [@dive_site, @log] do |f| %>
  <%= f.input :date, html5: true %>
  <%= f.input :depth, as: :range %>
  <div class="row">
    <div class="col-6">
      <%= f.input :time_in %>
    </div>
    <div class="col-6">
      <%= f.input :time_out %>
    </div>
  </div>
  <%= f.input :water_temp, as: :range %>
  <%= f.input :comments %>
  <%= f.input :photo, as: :file %>
  <div class="text-end py-5">
    <%= f.submit class: 'register-button' %>
  </div>
  <% end %>
</div>
