<h1>Here are all your logs</h1>

<% @my_logs.each do |log| %>
<div>
  <% if log.photo.present? %>%
    <%= cl_image_tag log.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <% if log.dive_site.photo.present? %>%
      <%= cl_image_tag log.dive_site.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://res.cloudinary.com/dg7mx0hnl/image/upload/v1661440322/sebastian-pena-lambarri-7i5HMCGupVw-unsplash_a5d3st.jpg" width="400">
    <% end %>
  <% end %>
    <p>Dive number: <%= log.dive_number %></p>
    <p>Date <%= log.date %></p>
    <p>City: <%= log.dive_site.city %></p>
    <% site_country = ISO3166::Country.new(log.dive_site.country) %>
    <p>Country: <%= site_country %></p>
    <%= link_to "View log", log_path(log) %>
</div>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
