<h1>Here are all your logs</h1>

<% @logs.each do |log| %>
<%= cl_image_tag @log.photo.key, height: 300, width: 400, crop: :fill %>
<p>Dive number: <%= log.dive_number %></p>
<p>Date <%= log.date %></p>
<p>Location: <%= log.dive_site.name %></p>
<p>Country: <%= log.dive_site.name %></p>
<% end %>%

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
