<div class="header align-items-center justify-content-center">
    <h2 class="text-center fw-bold">Log your dive at <%= @dive_site.name %></h2>
</div>
<div class="container py-5">
  <div class="show-log-card p-5">
      <% dive_site_country = ISO3166::Country.new(@dive_site.country_iso) %>
      <%# <h4 class="text-center fw-light pb-3"> Dive Site > <span class="current_spot">Log Details</span> > Review</h4> %>
          <h4 class="text-center fw-normal pb-3">
                <%= link_to "Dive Site", new_dive_site_path(@dive_site, breadcrumb: 'log-details'), class:"breadcrumb-link" %> >
          <% if !@log.id.nil?%>
                <span class="current_spot"><%= link_to "Log Details", new_dive_site_log_path(@dive_site), class:"breadcrumb-link" %></span> >
                <%= link_to "Review", new_dive_site_review_path(@dive_site, breadcrumb: 'log-details'), class:"breadcrumb-link" %>
              </h4>
          <% else %>
              <span class="current_spot">Log Details</span> > Review</h4>
          <% end %>
      <p class="text-center fw-normal pb-3">Details of your dive number <%= current_user.logs.size + 1 %> </p>
      <div class="d-flex justify-content-center">
        <%= render "form", log: @log %>
    </div>
  </div>
</div>
